.container{
display: flex;
flex-direction: column;
align-items: center;
background: rgb(2,0,36);
background: linear-gradient(135deg, rgba(2,0,36,1) 20%, rgba(37,40,62,0.927608543417367) 55%, rgba(0,212,255,1) 100%);
width: 100vw;
height: 100vw;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 700;
}

.container__header{
font-size: 40px;
border: 4px solid violet;
text-transform: uppercase;
color: yellow;
padding: 10px;
letter-spacing: 0.05em;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: violet;
}